.navitem{
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    transition: all .3s ease-in;
    color: var(--primary-color-dark);
    display: flex;
    align-items: center;
}

.navlink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



