.navlinks {
  list-style: none;
}

.counter {
  margin-left: auto;
  font-size: 1.6rem;
}

.cartbtn {
  display: flex;
}

.carticon {
  margin-left: 1rem;
  position: relative;
}

.counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.5rem;
  right: -1rem;
  background-color: var(--primary-color-dark);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
  font-size: 1.25rem;
}

.navitem {
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  transition: all 0.3s ease-in;
  color: var(--primary-color-dark);
  display: flex;
  align-items: center;
}

.navlink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
