.form-control {
  display: flex;
  flex-direction: column;
}

.form-control p {
  color: var(--primary-color-light);
  font-size: 2rem;
  margin-top: 1rem;
}

.form-control:not(:last-child) {
  margin-bottom: 20px;
}

.form-control label {
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 24px;
  color: #495371;
}

.form-control input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--grey-dark);
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: 0;
  height: 6rem;
}

.form-control.invalid input {
  border: 1px solid var(--primary-color-light);
}

.form-control.invalid input::placeholder {
  color: var(--grey-dark);
  text-transform: capitalize;
}

.form-control input:focus {
  outline: none;
  border: 2px solid var(--sec-color-light);
}
