.form-control {
  display: flex;
  flex-direction: column;
}

.form-control p {
  color: red;
  margin: 0;
}

.form-control:not(:last-child) {
  margin-bottom: 20px;
}

.form-control label {
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 24px;
  color: #495371;
}

.form-control input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 0.5rem;
  outline: 0;
}

.form-control.invalid input {
  border: 1px solid red;
}

.form-control input:focus {
  outline: none;
  border: 2px solid darkblue;
}
