.nav {
  width: 100%;
  background-color: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
