footer{
    padding:  4rem 0;
    background-color: var(--primary-color-dark);
}

footer .copysection{
    color: #FFF;
    font-size: 1.6rem;
    font-family: 'Roboto';
    text-transform: capitalize;
    text-align: center;
}