footer{
    padding:  4rem 0;
    background-color: var(--primary-color-dark);
    margin-top: auto;
}

footer .copysection {
  color: #fff;
  font-size: 1.6rem;
  font-family: "Roboto";
  text-transform: capitalize;
  text-align: center;
}
