
.order-form {
  padding: 1.2rem 3rem;
  background-color: rgba(255, 255, 255, .85);
  max-width: 60rem;

}

.order-form input:last-child{
  margin-bottom: 3rem;
}

.order-form .question {
  font-size: 3rem;
  color: var(--sec-color-regular);
  margin-bottom: 2rem;
}
.order-form .question button {
  font-size: 3rem;
  color: var(--sec-color-dark);
  margin: 0 1rem;
  font-family: inherit;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--sec-color-light);
  padding: 0.5rem 1rem;
  border: none;
}
.order-form .question button:hover {
  background-color: var(--sec-color-dark);
  color: #fff;
}
.form-action .disabled {
  opacity: 0.9;
  border: none;
  pointer-events: none;
  font-size: 5rem;
  font-family: "BubblegumSans";
  background-color: var(--grey-dark);
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.5rem 1rem;
}
.form-action button {
  font-size: 5rem;
  color: var(--sec-color-dark);
  margin: 3rem 1rem 0;
  font-family: "BubblegumSans";
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--sec-color-light);
  padding: 0.5rem 1rem;
  border: none;
  transition: all 0.6s ease-out;
}
.form-action button:hover {
  background-color: var(--sec-color-dark);
  color: #fff;
}
form .form-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
}
