*,
*::before,
*::after{
  padding: 0; 
  margin: 0;
  box-sizing: inherit;
}

h1,h2,h3,h4,a{
  text-decoration: none;
  font-family: 'Roboto';
  color: inherit;
  font-family: 'The Simple Sweet Serif';
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-out;
  box-shadow: var(--light-shadow);
}



body{
  position: relative;
  box-sizing: border-box;
  font-family: 'Jonesy';
}

/* CSS Variabels */
:root {
  /* COLORS */
  --primary-color-dark: #8B0304;
  --primary-color-light: #A70E13;

  --sec-color-dark: #000249;
  --sec-color-regular: #040876;
  --sec-color-light: #00FFFF;

  --grey-dark: #A9A9A9;
  --grey-regular: #B2BEB5;
  --grey-light: #D3D3D3;

  /* Shadows */
  --light-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --dark-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
html{
  font-size: 62.5%;
}

/*tab-landscape*/
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
}

/*tab-portrait*/
@media only screen and (max-width: 56.5em) {
  html {
    font-size: 50%;
  }
}

/*phone*/
@media only screen and (max-width: 37.5em) {
    html {
      font-size: 42.5%;
    }
}

/*big-desktop*/
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

/* FONTS */
@font-face {
  font-family: 'The Simple Sweet';
  src: local('The Simple Sweet'), url(./fonts/Simply-Sweet-Font/SimplySweet_Script_regular.ttf) format('truetype');
}

@font-face {
  font-family: 'The Simple Sweet Serif';
  src: local('The Simple Sweet Serif'), url(./fonts/Simply-Sweet-Font/SimplySweet_Serif.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts//Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Jonesy';
  src: local('Jonesy'), url(./fonts/Jonesy/Jonesy\ Script.ttf) format('truetype');
}